#main #header {
    background-image: url("../media/index-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#main .banner h1 {
    font: normal normal normal 4em makigo, cursive;
    color: white;
    line-height: 240px;
}

#main #first {
    background-image: url("../media/qui-sommes-nous/first.jpg");
}

#main #third {
    background-image: url("../media/qui-sommes-nous/third.jpg");
}

#main #fifth {
    background-image: url("../media/qui-sommes-nous/fifth.jpg");
}

.cross {
    height: 200px;
}

.cross .number {
    line-height: 1em;
    font-size: 12em;
    color: rgb(99, 90, 80);
}

#membres_internes {
    border: 3px solid rgb(157, 197, 101);
    margin: 2em;
}
#membres_internes:hover {
    border: 3px solid rgb(95, 128, 49);
    background: rgb(95, 128, 49);
}
