@font-face {
    font-family: "makigo";
    src: url("../fonts/makigo.woff2") format('woff2');
}

@font-face {
    font-family: "lobster";
    src: url("../fonts/lobster.woff2") format('woff2');
}

@font-face {
    font-family: "museo-slab";
    src: url("../fonts/museo-slab.woff") format('woff');
}

html {
    position: relative;
    min-height: 100%;
}

#main {
    font: normal normal normal 20px/1.6em museo-slab, serif;
}

#main #main-container {
    padding: 0;
}

.navbar {
    height: 84px;
    padding: 0;
    background: rgba(255, 255, 255, 0.9);
}

.navbar .nav-link, .navbar .dropdown-item {
    color: rgb(88, 161, 14);
    font: normal normal normal 15px makigo, cursive;
}

.navbar .nav-link:hover, .navbar .dropdown-item:hover, .navbar .nav-link.active {
    color: rgb(153, 87, 14);
}

.navbar-brand > img {
    height: 63px
}

.navbar .dropdown-item.active {
    background: inherit;
    color: rgb(153, 87, 14);
}

#main {
    padding-top: 84px;
    background-image: url("../media/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#main-container {
    background: white;
}

#main .container .container {
    padding: 2em 0;
}

#main .banner {
    height: 300px;
    text-shadow: rgba(0, 0, 0, 0.498039) -1px -1px 0px, rgba(0, 0, 0, 0.498039) -1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px -1px 0px;
    font: normal normal normal 1em lobster, cursive;
    color: rgb(38, 111, 102);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#main .banner h1 {
    font: normal normal normal 4em makigo, cursive;
    color: white;
    line-height: 240px;
}

.footer {
    background-color: #f5f5f5;
    bottom: 0;
    color: rgb(190, 190, 190);
    height: auto;
    line-height: 60px;
    width: 100%;
}

.footer #sitemap {
    line-height: 2em;
    background: rgba(191, 240, 121);
    height: auto;
    padding: 1em;
}

.footer #sitemap h2 {
    color: rgb(38, 111, 102);
    font: normal normal normal 35px/1.4em lobster, cursive;
}

.footer #sitemap a {
    text-decoration: none;
    color: rgba(99, 90, 80);
    font: normal normal normal 16px/1.4em museo-slab, serif;
    padding: 0;
}

.footer #social {
    background-color: rgba(50, 50, 50);
    padding: 5px;
}

.footer #social a {
    color: rgb(190, 190, 190);
    text-decoration: none;
}

.footer #social a:hover {
    text-decoration: underline;
}

.footer #social #logo {
    height: 200px;
}

.footer #social .media {
    border: 2px solid rgb(190, 190, 190);
    height: 44px;
}
